* {
	border: none;
	border-radius: 0;
	font-family: "Hack Nerd Font";
	font-size: 11pt;
}

window#waybar {
	background-color: #005577;
	color: #ffffff;
}

.modules-left {
	background-color: #222222;
	padding: 0px 0px 0px 0px;
}

.modules-right {
	background-color: #222222;
	padding: 0px 0px 0px 0px;
}

#workspaces button {
	padding: 0px 11px 0px 11px;
	min-width: 1px;
	color: #888888;
}

#workspaces button.focused {
	padding: 0px 11px 0px 11px;
	background-color: #005577;
	color: #ffffff;
}

#window {
	color: #ffffff;
	background-color: #005577;
	padding: 0px 10px 0px 10px;
}

window#waybar.empty #window {
	background-color: transparent;
	color: transparent;
}

window#waybar.empty {
	background-color: #222222;
}

#cpu,
#memory,
#network,
#pulseaudio,
#custom-mic,
#clock {
	padding: 0px 5.5pt 0px 5.5pt;
}

 
#tray {
	margin: 0px 0px 0px 11pt;
}
