@define-color clear rgba(0, 0, 0, 0.0);
@define-color fg #cdd6f4;
@define-color bg #1e1e2e;
@define-color brd #b4befe;
@define-color ip_bg #585b70;
@define-color slt_bg #7f849c;

* {
	border-radius: 0;
	transition: none;
}

window {
	border: 2px solid @brd;
	font-family: Hack;
	font-size: 11pt;
}
